body{
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    font-family: fantasy;
    text-align: left;
    text-decoration: none;
    display: grid;
}
a {
    text-decoration: none;
}
a:link, a:visited {
  color: rgb(255, 60, 10);
}
nav li, nav li h1 {
    font-size: medium;
    display: inline;
    margin-right: 30px;
}
nav li h1 {
    color: blue;
}

.unique-page-bg {
    background-color: rgb(0, 255, 255);
}

.flower_1 {
  position: absolute;
  top: 0px;
  left: 540px;
}

.flower_2 {
  position: absolute;
  top: 0px;
  right: 540px;
}

.house_ext {
  position: absolute;
  top: 0px;
  left: 200px;
}

.entry_hall {
  position: absolute;
  top: 450px;
  left: 500px;
}
.enter_house {
  position: absolute;
  top: 540px;
  left: 810px;
}

.enter_int {
  position: absolute;
  top: 310px;
  left: 645px;
}

.backwards {
  position: absolute;
  top: 620px;
  left: 765px;
}

.entry {
  position: absolute;
  top: 0px;
  left: 250px;
}

.hall1 {
  position: absolute;
  top: 0px;
  left: 325px;
}

.enter_vent {
  position: absolute;
  top: 120px;
  left: 795px;
}

